* {
    box-sizing: border-box;
}

.index-body {
    background-image: url("../img/10384.jpg");
    position: fixed;
    width: 100%;
}

.registration-body {
    background-image: url("../img/10384.jpg");
    position: fixed;
    width: 100%;
}

.home-body {
    position: fixed;
    width: 90%;
    right: 5%;
    height: 700px;
}

a {
    text-decoration: none;
    list-style: none;
    color: white;
}

a:hover {
    background-color: #BFBA7F;
}

h1 {
    font-style: oblique;
    color: white;
    font-family: "Tibetan Machine Uni";
    font-size: 50px;
    text-align: center;
}

h2 {
    font-style: oblique;
    color: white;
    font-family: "Tibetan Machine Uni";
    font-size: 30px;
    text-align: center;
}

.log-in {
    position: absolute;
    left: 35%;
    width: 30%;
    border: 1px solid #ccc;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}

.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
    float: left;
    width: 50%;
}

/* Add padding to container elements */
.container {
    height: 200px;
    padding: 16px;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

header {
    margin-top: -8px;
}

nav {
    margin-top: 0;
    background-color: #EEEEED;
    width: 100%;
    float: right;
    line-height: 50px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    float: right;
    padding-right: 10%;
    display: inline;
    font-size: 25px;
    font-family: "Tibetan Machine Uni";
}

nav li a {
    text-decoration: none;
    color: black;
}

nav li a:hover {
    background-color: #BFBA7F;
}

footer {
    position: fixed;
    margin-bottom: 0;
    bottom: 0;
}

.left-content {
    float: left;
    width: 33.33%;
}

.left-content img {
    width:100%;
    height: 80%
}

.left-p {
    border: 1px solid white;
    position: absolute;
    bottom: 55%;
    color: white;
    font-size: 40px;
    left: 9%;
}

.center-p {
    border: 1px solid white;
    position: absolute;
    bottom: 55%;
    color: white;
    font-size: 40px;
    left: 41%;
}

.right-p {
    border: 1px solid white;
    position: absolute;
    bottom: 55%;
    color: white;
    font-size: 40px;
    left: 73%;
}

.left-p-u {
    border: 1px solid white;
    position: absolute;
    bottom: 75%;
    color: white;
    font-size: 40px;
    left: 12%;
}

.right-p-u {
    border: 1px solid white;
    position: absolute;
    bottom: 75%;
    color: white;
    font-size: 40px;
    left: 65%;
}

.left-content-u {
    position: absolute;
    font-size: 20px;
    bottom: 42%;
    color: white;
    width: 45%;
    left: 3%;
}

.right-content-u {
    position: absolute;
    font-size: 20px;
    bottom: 45%;
    color: white;
    width: 45%;
    left: 55%;
}

footer {
    width: 90%;
}

footer p {
    text-align: center;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 19.1%;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: 25%;
}

div.universe-left {
    float: left;
    width: 50%;
}

.astronauts-main {
    width: 100%;
    height: 80%;
}

.astronauts-p {
    font-size: 20px;
    border: 1px solid white;
    position: absolute;
    bottom: 22%;
    right: 4%;
    width: 70%;
    height: 65%;
    color: white;
    border-collapse: separate;
    border-spacing: 2px;
}

.astronauts-btn-next {
    position: absolute;
    bottom: 15%;
    width: 10%;
    right: 5%;
}

.astronauts-btn-prev {
    position: absolute;
    bottom: 15%;
    width: 10%;
    left: 5%;
}

.custom-li {
    float: left;
    font-size: 35px
}

#first img, #second img, #third img, #forth img {
    width: 20%;
    position: absolute;
    bottom: 40%;
    left: 4%;
    border: 1px solid white
}

#second, #third, #forth, #second-u {
    display: none;
}

.universe-left img {
    width: 100%;
    height: 70%
}